<div class="cookies">
    <div class="container">
        <div class="cookies__row">
            <div class="cookies__message">
                Allow this website to process data in accordance with the Data Processing Policy
            </div>
            <a href="#" class="cookies__allow">
                Allow
            </a>
        </div>
    </div>
</div>