{{#extend "layout"}}
{{#content "main"}}

<section class="intro">

    <div class="container">
        <div class="intro__content">
            <div class="intro__shape">
                <img src="img/shape.svg" alt="" class="intro__shape-image">
            </div>
            <div class="intro__row">
                <div class="intro__left-col">
                    <div class="intro__text">
                        We deliver <em>sales efficiency in retail</em><br> through innovation, amazing<br> products and
                        practices.
                    </div>
                    <div class="intro__subtext">
                        That helps to keep products on shelf and makes your<br> customers pleased
                    </div>
                    <a href="#" class="intro__link" data-text="Make your store perfect">
                        <span class="intro__link-text">
                            Make your store perfect
                        </span>
                    </a>
                </div>
                <div class="intro__right-col">
                    <ul class="intro__features">
                        <li class="intro__features-item">
                            <h4 class="intro__features-item-key">
                                Shelf check is
                            </h4>
                            <div class="intro__features-item-value">
                                80% faster
                            </div>
                        </li>
                        <li class="intro__features-item">
                            <h4 class="intro__features-item-key">
                                Shelf data accuracy is
                            </h4>
                            <div class="intro__features-item-value">
                                over 95%
                            </div>
                        </li>
                        <li class="intro__features-item">
                            <h4 class="intro__features-item-key">
                                Data
                            </h4>
                            <div class="intro__features-item-value">
                                high reliability
                            </div>
                            <div class="intro__features-remark">
                                comparing with manual retail audit
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="questions">
    <div class="container">
        <div class="questions__content">


            <div class="questions__intro-text">
                Everyday CPG companes face billion dollar<br> questions

                <svg width="18" height="18" aria-hidden="true" class="icon icon-dollar">
                    <use xlink:href="#dollar" />
                </svg>
            </div>
            <div class="questions__actual-questions">

                <img src="img/question.png" alt="" class="questions__actual-questions-symbol">
                <ul class="questions__items">
                    <li class="questions__item">
                        What is my share of shelf?
                    </li>
                    <li class="questions__item">
                        What is my on shelf availability level?
                    </li>
                    <li class="questions__item">
                        What is my planogram compliance?
                    </li>
                    <li class="questions__item">
                        What is my competitive index?
                    </li>
                </ul>
            </div>
            <div class="questions__benefits">
                <div class="questions__benefits-item">
                    <h4 class="questions__benefits-item-key">
                        For Retail
                    </h4>
                    <div class="questions__benefits-item-value">
                        Monitor every shelf in every store to increase efficiency and sales
                    </div>
                </div>
                <div class="questions__benefits-item">
                    <h4 class="questions__benefits-item-key">
                        For CPG
                    </h4>
                    <div class="questions__benefits-item-value">
                        Optimize in-store execution and drive merchandising excellence
                    </div>
                </div>
            </div>
            <div class="questions__slogan">
                Our vision is to make sales<br> operations more strategic<br> and dynamic
            </div>
        </div>
    </div>
</section>


<section class="ai">
    <div class="container">
        <div class="ai__card">
            <img src="img/ai-bg.svg" alt="" class="ai__card-bg">
            <h2 class="ai__card-heading">
                Put AI inside your Sales Effectiveness Process.
            </h2>
            <div class="ai__card-text">
                Our Ailet Platform driven by visual recognition and artificial intelligence can become one version of
                truth. Motivate your sales forces based
                on real sales drivers and KPIs.
            </div>
            <a href="#" class="ai__card-link" data-text="Request a demo">
                <span class="ai__card-link-text">
                    Request a demo
                </span>
            </a>
        </div>
    </div>
</section>


<section class="how-it-works">
    <div class="container">
        <div class="how-it-works__items">
            <div class="how-it-works__item">
                <div class="how-it-works__item-left-col">
                    <div class="how-it-works__item-images">
                        <img src="img/how-it-works/sphere.jpg" alt=""
                            class="how-it-works__item-image how-it-works__item-image--static">
                    </div>
                </div>
                <div class="how-it-works__item-right-col">
                    <div class="how-it-works__item-text-content">
                        <div class="how-it-works__item-label">
                            Ailet AI
                        </div>
                        <div class="how-it-works__item-text-block">
                            <h3 class="how-it-works__item-large-heading">
                                How<br> solution<br> works?
                            </h3>
                            <div class="how-it-works__item-text">
                                Save time&reduce costs while<br> up-lift your sales
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-it-works__item">
                <div class="how-it-works__item-left-col">
                    <div class="how-it-works__item-images">
                        <img src="img/how-it-works/sphere.png" alt="" class="how-it-works__item-image">
                        <img src="img/how-it-works/phone.png" alt=""
                            class="how-it-works__item-image how-it-works__item-image how-it-works__item-image--phone how-it-works__item-image--static">
                        <img src="img/how-it-works/monitors.png" alt="" class="how-it-works__item-image">
                    </div>
                </div>
                <div class="how-it-works__item-right-col">
                    <div class="how-it-works__item-text-content">
                        <div class="how-it-works__item-label">
                            Stage 1
                        </div>
                        <div class="how-it-works__item-text-block">
                            <h3 class="how-it-works__item-normal-heading">
                                Take a photo in store<br> using IR application
                            </h3>
                            <div class="how-it-works__item-dull-text">
                                Shelf photos taken by your reps are uploaded to the cloud, where AI converts them
                                accurately
                                and instantly into shelf data (product, price, promotion, placement)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-it-works__item">
                <div class="how-it-works__item-left-col">
                    <div class="how-it-works__item-images">
                        <img src="img/how-it-works/sphere.png" alt="" class="how-it-works__item-image">
                        <img src="img/how-it-works/phone-2.png" alt=""
                            class="how-it-works__item-image how-it-works__item-image how-it-works__item-image--phone how-it-works__item-image--static">
                        <img src="img/how-it-works/monitors-2.png" alt="" class="how-it-works__item-image">
                    </div>
                </div>
                <div class="how-it-works__item-right-col">
                    <div class="how-it-works__item-text-content">
                        <div class="how-it-works__item-label">
                            Stage 2
                        </div>
                        <div class="how-it-works__item-text-block">
                            <h3 class="how-it-works__item-normal-heading">
                                Images are recognized quickly and report
                                is generated
                            </h3>
                            <div class="how-it-works__item-dull-text">
                                Best shelf activity information is communicated to locations in real time, and instant
                                visibility of in-store retail is made available to corporate customers
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="how-it-works__more">
            <a href="#" class="how-it-works__more-link" data-text="We have more to say about our technologies">
                <span class="how-it-works__more-link-text">
                    We have more to say about our technologies
                </span>
            </a>
        </div>

    </div>
</section>


<section class="test" style="height: 1300px; background-color: white;">
    <div class="container">
        <h1>
            Second section
        </h1>

    </div>
</section>

{{/content}}
{{/extend}}